html{
	font-family: 'Open Sans', sans-serif;
}

html body{
	background-color: inherit;
}

.home .row{
	margin-left: 0px;
	margin-right: 0px;
}

.not-home article header .panel-body{
	padding:0px;
}

.not-home header.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-top:10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.not-home #main #primary #content article div.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.not-home #main #primary #content article div.container .entry-content .container{
	width: 100%;
	padding: 0px;
}

.not-home header.entry-header > div:first-child{
	margin: 0px;
}

.not-home header.entry-header .row a{
	padding:0px;
}

.not-home header.entry-header h1{
	padding: 10px;
}

.not-home header.entry-header .panel{
	border-bottom: 1px solid #dfdfdd;
}

#main p{
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: normal; /* Internet Explorer 5.5+ */
	word-break: normal;
}

.home article header,
.home article header .row{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

footer#colophon{
	padding-bottom:100px;
	padding-left: 15px;
	padding-right: 15px;
}

.tright{
	float:right;
}

.thumbinner{
	display: inline-block;
	padding: 4px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.thumbcaption{
	border:none;
}

.floatleft{
	float:left;
}

div.weQuiz{
	border-style: solid;
	border-width: 1px;
	border-color: #AAAAAA;
	padding: 1ex;
	background-color: #F6F9ED;
}

article h1{
	margin-bottom: 0px;
}

.weQuiz ul li{
	list-style-type: decimal;
	list-style-image: none;
	margin-left: 10px;
}

.weQuiz ul li ul li{
	list-style-type: disc;
	list-style-image: none;
}

.weQuiz ul li ul li ul{
	display: none;
}

.weQuiz ul li ul li ul li{
	list-style: none;
}

.weQuiz ul{
	margin-left: 40px;
	padding: 0px;
}

.home article .panel{
	margin-bottom: 0px;
	border-bottom: none;
}	

.home article div.container{
	padding-left: -15px;
	padding-right: -15px;
}

.home article div.entry-content{
	padding:10px;
}

.home article{
	margin: 10px 0px;
}

.home article .entry-and-comments .panel .panel-body,
.home article .entry-and-comments .col-md-12{
	padding: 0px;
}

article .container .container{
	width:100%;
}	

.home .pager{
	display: none;
}

article.column-two{
	width:40%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

article.column-three{
	width:30%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

article.column-three-main{
	width:30%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

article.column-four{
	width:22%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

article.column-four h1{
	font-size:30px;
}

article.column-two .container,
article.column-three .container,
article.column-three-main .container,
article.column-four .container{
	width: 100%;
}

body.columns{
	text-align: center;
	margin: 0 auto;
}

.home article.column-two .entry-content,
.home article.column-three .entry-content,
.home article.column-three-main .entry-content,
.home article.column-four .entry-content{
	padding: 15px;
	width: 100%;
}

.home article.column-two header .row,
.home article.column-three header .row,
.home article.column-four header .row{
	padding: 0px;
}

.home article.column-two .panel-body,
.home article.column-three .panel-body,
.home article.column-four .panel-body{
	overflow: hidden;
}

#featured_three{
	text-align:center;
	margin:0 auto;
}

.header_image{
	height: 150px;
}

li {
	font-weight: normal;
}

.panel-heading h2{

}

.menu-depth-1{
	left: 160px;
}

.menu-depth-2{
	left:320px;
}

.menu-depth-3{
	left:480px;
}

@media (max-width: 990px){

	body #main #main-content header.container{
		padding-right: 30px;
	}	
	
	body #pagenav span.counter{
		display: none;
	}

}

@media (max-width: 765px){

	body nav .dropdown-menu{
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	body .dropdown-menu{
		margin-left: auto;
		margin-right: auto;
		min-width: 160px;
		left: 75px;
	}
	
	.menu-depth-1{
		left: 75px;
	}

	.menu-depth-2{
		left: 75px;
	}

	.menu-depth-3{
		left: 75px;
	}
	
	body #main #main-content header.container{
		padding-right: 30px;
	}

}

/* font-awesome */

.fa{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right: 10px;
}

/* jQuery UI */

.accordion .ui-state-active .ui-icon,
.accordion .ui-state-default .ui-icon{
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

footer li{
	list-style:none;
	width: 23%;
	margin:1%;
}

.accordion h3{
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#content .accordion  .ui-accordion-content{
	padding: 10px;
}

/* Short codes */

.oeru_details p{
	display: none;
}

.oeru_details .accordion-icon{
	margin-right: 5px;
}

details summary::-webkit-details-marker { display:none; }
	
.entry-content blockquote{
	margin-left: 20px;
}

.oeru_idevice{
	width:100%;
	padding: 10px;
}

.oeru_idevice .idevice_image{
	display: inline-block;
	vertical-align: top;
	height: 48px;
	width: 48px;
}

.oeru_idevice .idevice_content{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

#content blockquote{
	border-left: 5px solid #bbb;
}

.oeru_true_false .accordian-heading .panel-title a{
	color:#000;
} 

.oeru_true_false .correct,
.oeru_mcq .correct,
.oeru_mtq .correct,
.oeru_true_false .incorrect,
.oeru_mcq .incorrect,
.oeru_mtq .incorrect{
	padding-right: 10px;
}
	
.oeru_mcq label,
.oeru_mtq label{
	padding-left:10px;
}

.oeru_mcq_feedback{
	display:none;
}

.oeru_mtq_response{
	margin-top: 10px;
}

.oeru_column{
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	margin-bottom: 10px;
}

.oeru_column_border{
	border-left: 1px solid #ccc;
}

.has-success{
	border-color: #6FA92E;
	background-color: rgba(111, 169, 46, 0.2);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.has-error{
	border-color: #a94442;
	background-color: rgba(169, 68, 66, 0.2);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.pedagogicalicon{
	float: left;
	clear: left;
	padding-right: 20px;
	height: 36px;
}

.thumb{
	z-index:1;
}

.single .entry-content h1,
.single .entry-content h2,
.single .entry-content h3,
.single .entry-content h4,
.single .entry-content h5,
.single .entry-content h6,
.single .entry-content p{
	padding-left: 25px;
}

.commentlist li article footer,
.commentlist li article p,
.commentlist li article div{
	margin: 5px;
	padding: 5px;
}

.commentlist li article div p{
	margin: 0px;
	padding: 0px;
}

#main .commentlist li{
	list-style: none;
	margin: 2px 0px;
	padding: 2px 0px;
}

.commentlist{
	margin: 0px;
	padding: 0px;
}

.commentlist li article footer{
	padding: 0px;
}

dd{
  font-size: 16px;
  line-height: 28px;
}

dt{
	margin-top: 10px; 
}

dd p{
	line-height: 1.42857143;
	font-size: 14px;
}

#bodyContent dd{
	margin-left: 10px;
}
	
#bodyContent td b{
	background-color: inherit;
}

#bodyContent .weQuiz h1{
	background-color: inherit;
}

li.gallerybox{
	list-style: none;
	display: inline-block;
	position: relative;
	border: 1px solid #ccc;
}

#main .oeru_true_false p{
	white-space: normal;
}

#main li{
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

#scroller{
	display: none;
	cursor: pointer;
	cursor: hand;
	position: fixed;
	bottom: 10px;
	right: 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index:10000;
	padding:20px;
	font-size: 20px;
	-webkit-box-shadow: 3px 6px 18px 0px rgba(50, 50, 50, 0.63);
	-moz-box-shadow:    3px 6px 18px 0px rgba(50, 50, 50, 0.63);
	box-shadow:         3px 6px 18px 0px rgba(50, 50, 50, 0.63);
}

.error404 #main{
	text-align: center;
}

.error404 #main .page-title{
	padding: 20px 0px;
	margin: 0px;
}

.oeru_footer aside{
	display:inline-block;
	width: 20%;
	margin: 0px 4% 10px 0px;
}

.oeru_footer div.container{
	padding: 0px;
}	

#main #primary #content .entry-and-comments .oeru_footer div.advanced_footer{
	margin: 10px 0px;
	padding: 0px;
}	

#menu-oeru-import-menu>li:first-of-type {
	display: none;
}

